<div class="footer">
  <div>
  <p> Find an issue with this page? <a href="#"> Connect Here </a></p>
  <div class="line-container"><div class="dashed-line"></div></div>
  </div>
  <p>Copyright &copy; 2019 Place2b LLC</p>
  <p>Created with 
    <img src="../../assets/images/angular.svg">
    <img src="../../assets/images/mongodb.svg">
    by Sourav Shrestha
  </p>
  <div class="line-container"><div class="dashed-line"></div></div>
  <div class="footer-icons">
    <img src="../../assets/images/facebook.svg">
    <img src="../../assets/images/twitter.svg">
    <img src="../../assets/images/github.svg" id="github-icon">
    <img src="../../assets/images/slack.svg">
  </div>
</div>
