@import "../../styles.scss";

.footer{
    clear: both;
    text-align: center;
    font-family: 'MaipoSans-Regular';
    font-size: 16px;
    margin-top: 15vh;
    p{
        margin-top: 10px;
        img{
            height: 18px;
            margin: 0 5px;
            margin-bottom: -2px;
        }
    }
    a{
        color: #09C372;
        text-decoration: none;
        font-family: 'MaipoSans-SemiBold';
    }
    

    .footer-icons{
        img{
            width: 30px;
            margin: 20px 15px;
        }
        #github-icon{
            filter:var(--nav-inactive-icon-filter);
        }
    }

    .line-container{
        display: flex;
        justify-content: center;
        align-content: center;
        .dashed-line{
            margin-top: 15px;
            transition: 0.5s;
            background-image: linear-gradient(to left, transparent 50%, var(--line-color) 50%);
            background-size: 12px 100%;
            width:25.5%;
            height: 1.5px;
        }
    }

}

img{
    cursor: pointer;
}