<div class="nav-bar">
  <ul>
    <a routerLink="">
      <li [class.active]="router.url == '/'" title-tooltip="Home">
        <img src="../../assets/images/home.svg" class="nav-icon">
      </li>
    </a>
    <a routerLink="/search">
      <li [class.active]="router.url == '/search'" title-tooltip="Search">
        <img src="../../assets/images/search.svg" class="nav-icon"/>
      </li>
    </a>
    <a routerLink="/slides">
      <li [class.active]="router.url == '/slides'" title-tooltip="Slides">
        <img src="../../assets/images/slides.svg" class="nav-icon"/>
      </li>
    </a>
    <a routerLink="/following">
      <li [class.active]="router.url == '/following'" title-tooltip="Following">
        <img src="../../assets/images/following.svg" class="nav-icon"/>
      </li>
    </a>
    <a routerLink="/tags">
      <li [class.active]="router.url == '/tags'" title-tooltip="Tags">
        <img src="../../assets/images/tag.svg" class="nav-icon"/>
      </li>
    </a>
    <a routerLink="/profile">
      <li [class.active]="router.url == '/profile'" title-tooltip="Profile">
        <img src="../../assets/images/ninja.png" class="nav-icon-avatar"/>
      </li>
    </a>
  </ul>
</div>

<div class="settings" id="settings" (mouseover)='toggle_hover_on_settings()' (mouseout)='toggle_hover_on_settings()'>
  <a routerLink="upload">
    <div class="upload" title-tooltip="Upload Slide" [class.active-upload]="router.url == '/upload'">
       <img src="../../assets/images/upload.svg"/>
    </div>
  </a>
  <div class="brightness" id="brightness" title-tooltip="Lights On" (click)="changeTheme()">
    <img src="{{img_src}}" class="nav-icon"/>
  </div>
</div>

