<div class="body-content">
  <table class="head-container">
    <tr>
      <td style="text-align: center; vertical-align: middle;"><a routerLink="/"><img src="../../assets/images/logo-main.svg" id="logo"></a></td>
      <td><h1 class="heading">Upload Content</h1></td>
    </tr>
  </table>
  <div class="dashed-line"></div>
  <br>
  <div class="upload-container">
    <br>
      <div class="modal-left">
      <img class="thumb-modal" src="../../assets/images/Card-2.svg">
      <div class="up-src">
        <br>
        <p>Set a meaningful 😌 and attractive <span class="small-emoji">👻</span> thumbnail</p>
                <div class="btn-change">
                    Change Thumbnail
                </div>
            </div>
            <br><br>
            <div class="btn-submit">
                UPLOAD
            </div>
        </div>
        <div class="modal-right">
            <div class="attr-container">
                <h2> Title </h2>
                <input type="text" placeholder="Enter title"/>
                <h2> Description </h2>
                <textarea rows="4" placeholder="Describe your content"></textarea>
                <h2> Tags </h2>
                <textarea rows="2" placeholder="Add tags [ Use ; for multiple tags ]"></textarea>
            </div>
        </div>
    </div>  
</div>
<app-footer></app-footer>

  