<div class="body-content">
  <table class="head-container">
    <tr>
      <td style="text-align: center; vertical-align: middle;"><a routerLink="/"><img src="../../assets/images/logo-main.svg" id="logo"></a></td>
      <td><h1 class="heading">Upload Content</h1></td>
    </tr>
  </table>
  <div class="dashed-line"></div>
  <br>
  <div class="upload-container">
    <br>
    <form [formGroup]="upload_form" (ngSubmit)="submitHandler()">
      <div class="modal-left">
        <div class="thumb-modal" (click)="file_picker.click()">
          <div class="temp_div">
            <img src="../../assets/images/upload.svg" class="upload_image"/>
            <img [src]="img_url" class="preview" *ngIf="img_url"/>
            <h3> Click to choose your slide</h3>
            <input type="file" (change)="pickFile($event)" class="choose_file" #file_picker>
          </div>
        </div>
        <div class="up-src">
        <br>
        <p>Set a meaningful 😌 and attractive <span class="small-emoji">👻</span> thumbnail</p>
        <br>
        <p class="file_name" *ngIf="filename"> Selected file: <span class="filename">{{filename}}</span> </p>
                <div class="btn-change" (click)="file_picker.click()">
                    Change Image
                </div>
            </div>
            <br *ngIf="!filename">
            <button type="submit" class="btn-submit" [disabled]="upload_form.invalid || !filename" title-tooltip="Empty / Invalid fields 🤔? ">
                UPLOAD
            </button>
        </div>
        <div class="modal-right">
            <div class="attr-container">
                <h2> Title <span class="warning-text" *ngIf="title.invalid && title.touched">Sorry, this cannot be left empty 😩</span> </h2>
                <input type="text" placeholder="Enter title" formControlName="title"/> 
                <h2> Description <span class="warning-text" *ngIf="description.invalid && description.touched">Sorry, this cannot be left empty 🙄</span> </h2>
                <textarea rows="4" placeholder="Describe your content" formControlName="description"></textarea>
                <h2> Tags <span class="warning-text" *ngIf="tags.invalid && tags.touched">Sorry, this cannot be left empty 😓</span></h2>
                <textarea rows="2" placeholder="Add tags [ Use ; for multiple tags ]" formControlName="tags"></textarea>
            </div>
        </div>
    </form>
  </div> 
</div>
<app-footer></app-footer>

  