@import "../slide-card/slide-card.component.scss";

.slide-container{
    column-count: 3;
    column-gap: 30px;
    width: 100%;
    padding: 1% 0;
}

.slide-card{
    margin: 15px 1.25% 3% 0;
    width: 100%;
    display: inline-block;
    a{
        text-decoration: none;
        color:var(--font-color);
    }
}

.slide-card:first-child{
    margin-left: 0%;
}

#last-card:hover{
    transform: scale(1);
}
