<div class="slide-container">
  <div class="slide-card" *ngFor="let slide of slides">
    <a routerLink="/slide_details/{{ slide._id }}">
        <img [src]="slide.url">
        <h3>{{slide.title}}</h3>
         <p class="desc-slide">{{slide.description}}</p>
        <div class="tag-group">
          <span class="tag" [ngStyle]="{'background-color': '#' + tag.bg, 'color': '#' + tag.text_color}" *ngFor="let tag of slide.tags">#{{ tag.name.toLowerCase() }}</span>
        </div>
    </a>
  </div>
</div>