<div class="body-content" id="body-main">
    <div class="temp-ref-main">
        <table class="head-container">
            <tr>
                <td style="text-align: center; vertical-align: middle;">
                    <a routerLink="/">
                        <img src="../../assets/images/logo-main.svg" id="logo">
                    </a>
                </td>
                <td>
                    <h1 class="heading" (click)="logOut()" style="cursor: pointer;">Your Profile</h1>
                </td>
            </tr>
        </table>
        <div class="dashed-line"></div>
        <br>
        <h1> {{ this.user.name }} </h1>
    </div>
    <br>
    <app-footer></app-footer>
</div>