/* You can add global styles to this file, and also import other style files */


html{
    --nav-back-color:#1c2939;
    --nav-active-color:rgb(56, 107, 245);
    --font-color:#dadde4;
    --desc-color:hsla(0,0%,100%,.5);
    --box-color: #16202B;
    --line-color:#8197a4;
    --line-color-modal:#FFF;
    --input-back:#FFF;
    --card-highlight: #1c3348;
    --next-btn:brightness(0) saturate(100%) invert(19%) sepia(30%) saturate(733%) hue-rotate(173deg) brightness(94%) contrast(86%);
    --prev-btn:brightness(0) saturate(100%) invert(19%) sepia(30%) saturate(733%) hue-rotate(173deg) brightness(94%) contrast(86%);;
    --nav-shadow:rgba(18, 24, 27, 0.35);
    --modal-back:rgba(18, 24, 27,0.90);
    --body-back:#16202B;
    --laptop-border:brightness(0) saturate(100%) invert(100%) sepia(100%) saturate(0%) hue-rotate(335deg) brightness(110%) contrast(102%);
    --laptop-screen:brightness(0) saturate(100%) invert(20%) sepia(10%) saturate(605%) hue-rotate(179deg) brightness(85%) contrast(100%);
    --active-green-color:#75A441;
    --nav-active-icon-filter:brightness(0) saturate(100%) invert(100%) sepia(100%) saturate(0%) hue-rotate(288deg) brightness(102%) contrast(102%);
    --image-filter:brightness(0) saturate(100%) invert(100%) sepia(100%) saturate(0%) hue-rotate(288deg) brightness(102%) contrast(102%);
    --_filter: brightness(0) saturate(100%) invert(33%) sepia(77%) saturate(2366%) hue-rotate(215deg) brightness(98%) contrast(97%);
    --nav-inactive-icon-filter:brightness(0) saturate(100%) invert(79%) sepia(36%) saturate(113%) hue-rotate(174deg) brightness(92%) contrast(84%);
    overflow-x: hidden;
}

html[data-theme='light']{
    --nav-back-color:#DAE0E7;
    --font-color:#3a3a3a;
    --box-color: #EEEEEE;
    --input-back:#DAE0E7;
    --nav-active-color:#3c8cf0;
    --_filter: brightness(0) saturate(100%) invert(51%) sepia(31%) saturate(5012%) hue-rotate(194deg) brightness(99%) contrast(90%);
    --line-color-modal:#2a2a2a;
    --card-highlight: #777777;
    --logo-filter:brightness(0) saturate(100%) invert(50%) sepia(98%) saturate(3178%) hue-rotate(197deg) brightness(102%) contrast(88%);
    --modal-back:rgba(255,255,255,0.90);
    --laptop-border:brightness(0) saturate(100%) invert(20%) sepia(10%) saturate(605%) hue-rotate(179deg) brightness(85%) contrast(100%);
    --laptop-screen:brightness(0) saturate(100%) invert(93%) sepia(5%) saturate(281%) hue-rotate(172deg) brightness(97%) contrast(91%);
    --desc-color:#4B4949;
    --next-btn:brightness(0) saturate(100%) invert(79%) sepia(36%) saturate(113%) hue-rotate(174deg) brightness(92%) contrast(84%);
    --prev-btn:brightness(0) saturate(100%) invert(79%) sepia(36%) saturate(113%) hue-rotate(174deg) brightness(92%) contrast(84%);
    --line-color:#8197a4;
    --nav-shadow:rgba(5, 7, 8, .1);
    --body-back:#f1f1f1;
    --nav-inactive-icon-filter:brightness(0) saturate(100%) invert(41%) sepia(11%) saturate(369%) hue-rotate(189deg) brightness(92%) contrast(89%);
    --image-filter:brightness(0) saturate(100%) invert(9%) sepia(0%) saturate(78%) hue-rotate(151deg) brightness(90%) contrast(79%);
}

::selection {
    color:#FFF;
    background: var(--active-green-color);
} 

::-moz-selection {
    color:#FFF;
    background: var(--active-green-color);
} 

mark{
    background-color: var(--active-green-color);
    color: #2a2a2a;
}

router-outlet ~ * {
    position: absolute;
    height: 100%;
    width: 100%;
}

#logo{
    filter: var(--logo-filter);
}

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}

br,img{
    user-select: none;
}

@font-face {
    font-family: 'MaipoSans-Black';
    src: url(/assets/fonts/MaipoSans-Black.ttf);
}

@font-face {
    font-family: 'MaipoSans-Bold';
    src: url(/assets/fonts/MaipoSans-Bold.ttf);
}

@font-face {
    font-family: 'MaipoSans-Heavy';
    src: url(/assets/fonts/MaipoSans-Heavy.ttf);
}

@font-face {
    font-family: 'MaipoSans-Regular';
    src: url(/assets/fonts/MaipoSans-Regular.ttf);
}

@font-face {
    font-family: 'MaipoSans-SemiBold';
    src: url(/assets/fonts/MaipoSans-SemiBold.ttf);
}


*{
    padding: 0;
    margin: 0;
}

body{
    scroll-behavior: smooth;
    color:var(--font-color);
    background-color: var(--body-back);
    font-family: 'MaipoSans-Black';
    overflow: auto;
}

.mid-emoji{
    font-size: 26px;
}

.small-emoji{
    font-size: 20px;
}

.body-content{
    min-height: 100vh;
    width: calc(100% - 70px);
    transition: 0.5s;
    margin-left: 70px;
}


.temp-ref-main{
    min-height: 95vh;
    margin-top: 1.5%;
    padding: 0 3%;
}

.heading{
    font-size: 56px;
    letter-spacing: 1.5px;
}

.dashed-line{
    margin-top: 10px;
    transition: 0.5s;
    background-image: linear-gradient(to right, transparent 50%, var(--line-color) 50%);
    background-size: 12px 100%;
    width:100%;
    height: 1.5px;
}

.head-container{
    margin-top: 1.5%;
    .heading{
        font-size: 48px;
    }
    img{
        height: 48px;
        width: 48px;
        margin-top: 12px;
        &:hover{
            animation: rotation 1s ease-in-out;
        }
    }
    tr{
        td{
            padding: 0 10px;
        }
    }
}

@keyframes rotation {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

@media(max-width:600px){
    .body-content{
        margin-left: 0;
        width: 100%;
    }
    .head-container{
        .heading{
            font-size: 40px;
        }
        #logo{
            width: 35px;
        }
    }
}
