<div class="body-content" id="body-main">
  <div class="temp-ref-main">
    <table class="head-container">
      <tr>
        <td style="text-align: center; vertical-align: middle;"><a routerLink="/"><img
              src="../../assets/images/logo-main.svg" id="logo"></a></td>
        <td>
          <h1 class="heading">Search Content</h1>
        </td>
      </tr>
    </table>
    <div class="dashed-line"></div>
    <br>
    <div (clickOutside)="close_sugg($event)" style="width: 80%;position: relative;">
      <div class="search-container">
        <div class="search">
          <input type="text" (keydown.ArrowDown)="nextSugg($event)" (keydown.ArrowUp)="prevSugg($event)"
            placeholder="Search for slide or people . . ." class="search-bar" [formControl]="searchField"
            [(ngModel)]="keyword" (keyup.enter)="search_()" (focus)="onFocus()" id="search-bar" autocomplete="off" />
          <button #search_button class="btn-search" id="btn-search" (click)="btn_click()">
            <img src="../../assets/images/search.svg">
          </button>
        </div>
      </div>
      <div class="suggestion-box" (mouseleave)="leave_box()">
        <p class="sugg" [class.active_sugg]="curr_sugg==i" *ngFor="let result of results; let i = index" id="sugg{{i}}"
          (click)="set_input($event)" innerHTML="{{result | highlightSuggestion: keyword}}"
          (mouseenter)="mouseEnter(i)">
        </p>
      </div>
    </div>
    <!-- *ngIf="search_result"  -->
    <div *ngIf="search_result" class="search_result">
      <p class="head_">Results for <span class="bold-head_">{{keyword_temp}}</span> ({{count_result}} results)</p>
      <div class="container_people" *ngIf="results_temp_users!+[]">
          <div class="card_people" *ngFor="let result of results_temp_users;">
            <a routerLink="/people/{{result.id}}">
              <div class="content-card">
                <img src="../../assets/images/avatar.svg" class="avatar" />
                <p class="title">{{result.name | titlecase}}</p>
                <a routerLink="/follow/{{result.id}}"><button class="btn-follow">Follow</button></a>
              </div>
            </a>
          </div>
      </div>
      <div class="slide-container">
        <div *ngFor="let t of arr">
          <div class="slide-card" *ngFor="let slide of results_temp_slides;">
            <a routerLink="/slide_details/{{ slide._id }}">
              <img [src]="slide.url" alt="slide-image">
              <h3>{{slide.title}}</h3>
              <p class="desc-slide">{{slide.description}}</p>
              <div class="tag-group">
                <div *ngFor="let tag of slide.tags">
                  <span class="tag"
                    [ngStyle]="{'background-color': getColor(tag).back, 'color': getColor(tag).color}">#{{ tag.toLowerCase() }}</span>
                </div>
              </div>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <br>
  <app-footer></app-footer>
</div>