@import "../../styles.scss";

.suggestion-box {
  margin-top: 3px;
  width: 100%;
  position: absolute;
  background-color: var(--nav-back-color);
  p {
    padding: 12px 0 12px 30px;
    font-family: MaipoSans-Regular;
    font-size: 20px;
    &:hover {
      cursor: pointer;
    }
  }
}

.active_sugg {
  padding: 12px 0 12px 30px;
  font-family: MaipoSans-Regular;
  font-size: 20px;
  cursor: pointer;
  background-color: var(--nav-active-color);
  color: white;
}

.search-container {
  height: 50px;
  background-color: var(--nav-back-color);
  width: 100%;
  .search {
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    .search-bar {
      width: 100%;
      border: none;
      padding: 10px 30px;
      height: 30px;
      font-family: MaipoSans-SemiBold;
      font-size: 20px;
      background-color: var(--nav-back-color);
      color: var(--font-color);
    }
    .btn-search {
      height: 100%;
      border: none;
      background-color: transparent;
      padding: 0 20px 0 20px;
      cursor: pointer;
      transition: 0.5s;
      img {
        height: 40%;
        filter: var(--image-filter);
      }
      &:hover {
        img {
          filter: brightness(0) saturate(100%) invert(100%) sepia(100%) saturate(0%) hue-rotate(288deg) brightness(102%) contrast(102%);
        }
        background-color: var(--nav-active-color);
      }
    }
  }
}

.search_result {
  margin-top: 25px;
  .head_ {
    color: var(--desc-color);
    font-family: MaipoSans-Regular;
    font-size: 18px;
    .bold-head_ {
      font-family: MaipoSans-Bold;
      padding: 0 5px;
      color: var(--font-color);
    }
  }
  .container_people {
    margin-top: 25px;
    width: 100%;
    max-height: 205px;
    overflow: hidden;
    .card_people {
      &:hover {
        cursor: pointer;
      }
      width: 150px;
      float: left;
      margin: 0 15px 15px 0;
      box-shadow: 5px 5px var(--nav-shadow);
      background-color: var(--nav-back-color);
      a {
        text-decoration: none;
        color: var(--font-color);
      }
      padding: 15px 5px;
      .content-card {
        text-align: center;
        .avatar {
          height: 100px;
        }
        .title {
          margin-top: 5px;
          font-family: MaipoSans-Regular;
          font-size: 18px;
        }
        .btn-follow {
          margin-top: 10px;
          background-color: var(--nav-active-color);
          color: white;
          font-family: MaipoSans-Regular;
          border-radius: 100px;
          border: none;
          padding: 1px 20px;
          font-size: 16px;
          transition: 0.3s;
          &:hover {
            cursor: pointer;
            transform: scale(1.05);
          }
        }
      }
    }
  }
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(-360deg);
  }
}
