<app-nav-bar></app-nav-bar>
<div class="body-content">
    <h1 class="heading"><a routerLink="/">Place2B.io</a></h1>
    <div class="dashed-line"></div>
    <br>
    <div class="landing-container" style="height: 60vh;width: 100%">
        <div class="left-main">

        </div>
        <div class="right-main">
            <img src="../../assets/images/back-main.svg">
        </div>
    </div>
    <br>
    <h3 class="sub-heading">Top Slides</h3>
    <app-slide-card></app-slide-card>
    <h3 class="sub-heading">Newly Added</h3>
    <app-slide-following></app-slide-following> 
    <div class="dashed-line" style="margin-top: 0;"></div>
    <br><br>
    <p class="head-desc">Explore the ease at ease</p>
    <h3 class="heading-sub">How it works</h3>
    <br><br>
    <div class="how-container">
        <div class="how-card">
            <img src="../../assets/images/follow-how.svg">
            <h4> Find & Follow </h4>
            <p>Lorem ipsum, or lipsum as it is sometimes known, is dummy text used in laying out print, graphic or web designs. The passage is attributed to an unknown typesetter in the 15th century</p>
        </div>
        <div class="how-card">
            <img src="../../assets/images/search-how.svg">
            <h4> View or Search </h4>
            <p>Lorem ipsum, or lipsum as it is sometimes known, is dummy text used in laying out print, graphic or web designs. The passage is attributed to an unknown typesetter in the 15th century</p>
        </div>
        <div class="how-card">
            <img src="../../assets/images/download-how.svg">
            <h4> Learn & Download </h4>
            <p>Lorem ipsum, or lipsum as it is sometimes known, is dummy text used in laying out print, graphic or web designs. The passage is attributed to an unknown typesetter in the 15th century</p>
        </div>
    </div>
    <div class="about-container">
        <div class="about-left">
            <div class="temp">
                <h3 class="heading-sub-1">At a glance</h3>
                <br>
                <p class="desc-about">Lorem ipsum, or lipsum as it is sometimes known, is dummy text used in laying out print, graphic or web designs. The passage is attributed to an unknown typesetter in the 15th century who is thought to have scrambled parts of Cicero's De Finibus Bonorum et Malorum for use in a type specimen book.</p>
            </div>
        </div>
        <div class="about-right">
            <div class="temp">
                <img src="../../assets/images/temp-back.svg">
            </div>
        </div>
    </div>
    <br><br><br><br>
    <app-footer></app-footer>
</div>
